<a href="https://colab.research.google.com/github/SandipVyara/SSM/blob/main/second.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# my program
First_List=[1,3,5,7,9]
Second_List=[2,4,6,8,10]


print(First_List)
print(Second_List)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
# largest number in a list1 is
print('The largest number from First_List is:',max(First_List))

The largest number from First_List is: 9

In [ ]:
# Second largest number in a list1 is
print('The second largest number from First_List is:',max(First_List))

The second largest number from First_List is: 9

In [ ]:
# To merge two lists & sort it
list1 = [25, 18, 9, 41, 26, 31] 
list2 = [25, 45, 3, 32, 15, 20] 
print(Merge(list1, list2))

In [ ]:
x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x, y)

In [ ]:
print(2%6)

2

In [ ]:
e = 10
d = e += 2
print(d)

In [ ]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]